
/displayz.exe
/GameMonitor.spec
/icon.png
/settings.json
/.gitattributes
/venv
/islenv
/dist
/build
/.vscode
/.idea
/__pycache__
/*.spec
/*.exe
/builddev.bat
/main.cmd
/main.dist
/main.onefile-build
/bulddev.bat